html {
    background-color: #000;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    appearance: none;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: all .2s ease;
}

.button:hover {
    background-color: #fff !important;
    color: #000 !important;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    min-height: 100vh;
    padding: 2rem 10vw;

    h1 {
        margin: 0;
    }

    .window {
        background-attachment: fixed;
        border-radius: 10px;
        box-shadow: inset 0 0 .5em .5em #00000088;
        background-position: center;
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
}

#intro {
    text-align: center;
}

#about {
    background-color: #fff;
    color: #000;

    .button {
        background-color: #fff;
        color: #000;
    }

    .button:hover {
        background-color: #000 !important;
        color: #fff !important;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            background-color: #88a8e7;
            border-radius: 1.25em;
            display: inline-block;
            padding: .25em 1em;
            line-height: 1.25em;
            margin: 5px 0;
        }
    }
}

#sakubun, #sakubun .button {
    background-color: #eea0c1;
    background-image: url(https://www.transparenttextures.com/patterns/sandpaper.png);
    color: #212121;

    .window {
        background-image: url("/images/sakubun.png");
    }
}

#cheesecake, #cheesecake .button {
    background-color: #d81b60;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: #fff;

    .window {
        background-image: url("/images/cheesecake.png");
    }
}

#cubetastic, #cubetastic .button {
    background-color: #99c1f1;
    background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
    color: #000;

    .window {
        background-image: url("/images/cubetastic.png");
    }
}

#dysmey, #dysmey .button {
    background-color: #f74260;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    color: #fff;

    .window {
        background-image: url("/images/dysmey.png");
    }
}

#h2k, #h2k .button {
    background-color: #ffe082;
    background-image: url(https://www.transparenttextures.com/patterns/sandpaper.png);
    color: #000;

    .window {
        background-image: url("/images/H2K.png");
    }
}

footer {
    display: flex;
    font-size: 1.5em;
    padding: 2rem 10vw;
    justify-content: space-between;

    a {
        color: #fff;
    }

    span {
        font-size: 80%;
    }
}

/*
    Media Queries
*/

@media screen and (max-width: 620px) {
    h1 {
        font-size: 1.4rem;
    }

    p, ul {
        font-size: 1.1rem;
    }

    .button {
        font-size: 1rem;
    }

    footer {
        font-size: 1rem;
    }
}
